html {
  font-family: 'Roboto', sans-serif;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3F51B5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3F51B5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Theme Dropdown Button */
.dropbtn {
    color: #3F51B5;
    padding: 16px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.a {
  background-color: #E8EAF6;
}

.b {
  background-color: #C5CAE9;
}

.c {
  background-color: #9FA8DA;
}

.d {
  background-color: #7986CB;
}

.e {
  background-color: #5C6BC0;
}

.f {
  background-color: #3F51B5;
}

.g {
  background-color: #3949AB;
}

.h {
  background-color: #303F9F;
}

.i {
  background-color: #283593;
}

.j {
  background-color: #1A237E;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3F51B5;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #3F51B5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgba(100,100,100,.5)}

.show {display:block;}

/* Page Style*/

a {
  text-decoration: none;
  color: white;
}

.save {
padding-top: .5em;
}

.save:focus, .cancel:focus {
  outline: none;
  text-decoration: underline;
}

.save:hover, .cancel:hover {
  opacity: .5;
}

header {
  background-color: #3F51B5;
}

input {
  background-color: inherit;
  border: none;
}

input:focus {
  outline: none;
}

.title {
  color: white;
}

.title:hover {
  cursor: pointer;
}

.picker {
  display: inline;
}

form {
  width: 92%;
  padding-left: 1em;
}

.icon {
  width: 25%;
}

.event-time {
  border-bottom: 1px solid #000;
}

#svg {
  padding-bottom: 4.75em;
}

#end-date {
  padding-left: .5em;
}

#start-date {
  padding-left: ;
}

#end-time {
  padding-left: .65em;
}

#end-date, #start-date {
  width: 43%;
}

#start-time {
  width: 31%;
}

#end-time {
  width: 32%;
}

#button {
  padding-left: 4em;
}

.toggle {
  padding-left: 1.75em;
  padding-top: .25em;
}

main, .header {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
