/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3F51B5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3F51B5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Theme Dropdown Button */
.dropbtn {
    color: #3F51B5;
    padding: 16px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.a {
  background-color: #E8EAF6;
}

.b {
  background-color: #D1C4E9;
}

.c {
  background-color: #B39DDB;
}

.d {
  background-color: #9575CD;
}

.e {
  background-color: #7E57C2;
}

.f {
  background-color: #673AB7;
}

.g {
  background-color: #5E35B1;
}

.h {
  background-color: #512DA8;
}

.i {
  background-color: #4527A0;
}

.j {
  background-color: #311B92;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3F51B5;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #3F51B5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgba(100,100,100,.5)}

.show {display:block;}
