@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.days {
    padding: 10px 0;
    margin: 0;
}

.days li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    padding-top: 20px;
}


@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

@media screen and (max-width: 450px) {
    .weekdays li, .days li {
      width: 12.5%;
    }

    .days li .active {
      padding: 2px;
    }

    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
}

@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}
