@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.big-number{
  font-size: 4.2148rem;
  line-height: 3.625rem;
  letter-spacing: -.5rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a, .dropbtn, .dropdown-content {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  color: #3F51B5;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {
    display: block;
}

h1 {
  display: inline;
}

.red {
  background-color: #F44336;
}

.pink {
  background-color: #E91E63;
}

.purple {
  background-color: #9C27B0;
}

.indigo {
  background-color: #3F51B5;
}

.teal {
  background-color: #009688;
}

.green {
  background-color: #4CAF50;
}

.yellow {
  background-color: #FFEB3B;
}

.orange {
  background-color: #FF9800;
}

.days, .week {
    padding: 10px 0;
    margin: 0;
}
.week li {
  height: 800px;
}

.days li {
  height: 100px;
}

.days li, .week li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin: 0px;
    font-size:12px;
    color: #777;
    padding-top: 20px;
    border: 1px solid black;
}

.week2 li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin: 0px;
  font-size:12px;
  color: #777;
  padding-top: 20px;
}

.time li {
  text-align: left;
  margin: 0px;
  font-size:12px;
  color: #777;
  padding: 20px;
}

.plus {
    background-color: gray;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 100px 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

.back-arrow {
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {
      width: 12.2%;
    }
  }

@media screen and (max-width: 450px) {
    .weekdays li, .days li {
      width: 12.5%;
    }

    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
}

@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}
